#prode-container{
	
}

#prode-container .navbar{
	border-radius: 0px;
	padding: 0px 50px 0px 50px;
}

#prode-container .navbar .navbar-header,
#prode-container .navbar ul.navbar-nav.central li{
	border-right: 1px solid rgb(233, 233, 233);
}

#prode-container .navbar-brand{
	padding: 0px 15px;
}

#prode-container .navbar-nav.navbar-right:last-child{
	margin-right: 0px;
}

#prode-container .navbar img.wc-logo{
	margin-top: 0px;
	width: 20px;
	margin-left: 10px;
}

#prode-container .navbar img.oe-logo{
	margin-top: 5px;
	width: 105px;
}

#prode-container .navbar li img.profile-image{
	margin-top: 5px;
	width: 40px;
}

#prode-container #central-container{
	width: 980px;
	margin: 0 auto;
	margin-bottom: 15px;
/* 	padding: 20px; */
/* 	border: 1px solid #ddd; */
/* 	border-radius: 4px 4px 0 0; */
}

#prode-container .panel .panel-body{
	padding: 10px 25px 10px 25px;
}

#prode-container .panel .row .col-md-6.fixb.first{
	padding: 0px 10px 0px 0px;
}

#prode-container .panel .row .col-md-6.fixb{
	padding: 0px;
}

#prode-container .panel .row .prode-block{
	border: 1px solid #ddd;
}

#prode-container .panel .row .prode-block table{
	margin-bottom: 0px;
}

#prode-container .panel .row .prode-block table thead th,
#prode-container .panel .row .prode-block table tbody td{
	text-align: center;
}

#prode-container .panel .row .prode-block table thead{
	font-size: 14px;
}

#prode-container .panel .row .prode-block table tbody{
	font-size: 12px;
}

#prode-container .panel .row .prode-block table tbody td.results{
	width: 220px;
	padding-top: 8px;
}

#prode-container .panel .row .prode-block table tbody td.matchDate{
	width: 140px;
}

#prode-container .panel .row .prode-block table tbody td.matchCity{
	width: 150px;
}

#prode-container .panel .row .prode-block table tbody td{
	padding-top: 14px;
}

#prode-container .panel .row .prode-block table tbody td.results input{
	text-align: center;
}

#prode-container .panel .row .prode-block table tbody td .dash{
	display: inline-block;
}

#prode-container .panel .row .prode-block table td div.teams{
	display: inline-block;
	width: 150px;
}

#prode-container .panel .row .prode-block table div.flag{
	width: 20px;
	height: 15px;
	overflow: hidden;
	background-position: 0 -6px;
	position: relative;
}

#prode-container .panel .row .prode-block table div.flag.fteam_a{
	float: left;
}

#prode-container .panel .row .prode-block table div.flag.fteam_b{
	float: right;
}

#prode-container .panel .row .prode-block table div.flag img{
	position: absolute;
	left: 0px;
	top: -6px;
}

#prode-container .panel .row .prode-block table div.flag img.arg{
	top: -34px;
}

#prode-container .panel .row .prode-block table div.flag img.bra{
	top: -136px;
}

#prode-container .panel .row .prode-block table div.flag img.cro{
	top: -898px;
}

#prode-container .panel .row .prode-block table div.flag img.mex{
	top: -550px;
}

#prode-container .panel .row .prode-block table div.flag img.cam{
	top: -620px;
}

#prode-container .panel .row .prode-block table div.flag img.esp{
	top: -206px;
}

#prode-container .panel .row .prode-block table div.flag img.hol{
	top: -966px;
}

#prode-container .panel .row .prode-block table div.flag img.chi{
	top: -655px;
}

#prode-container .panel .row .prode-block table div.flag img.aus{
	top: -309px;
}

#prode-container .panel .row .prode-block table div.flag img.col{
	top: -172px;
}

#prode-container .panel .row .prode-block table div.flag img.gre{
	top: -931px;
}

#prode-container .panel .row .prode-block table div.flag img.mar{
	top: -690px;
}

#prode-container .panel .row .prode-block table div.flag img.jap{
	top: -516px;
}

#prode-container .panel .row .prode-block table div.flag img.uru{
	top: -240px;
}

#prode-container .panel .row .prode-block table div.flag img.cos{
	top: -377px;
}

#prode-container .panel .row .prode-block table div.flag img.ing{
	top: -1000px;
}

#prode-container .panel .row .prode-block table div.flag img.ita{
	top: -1034px;
}

#prode-container .panel .row .prode-block table div.flag img.sui{
	top: -275px;
}

#prode-container .panel .row .prode-block table div.flag img.ecu{
	top: -725px;
}

#prode-container .panel .row .prode-block table div.flag img.fra{
	top: -759px;
}

#prode-container .panel .row .prode-block table div.flag img.hon{
	top: -448px;
}

#prode-container .panel .row .prode-block table div.flag img.bos{
	top: -862px;
}

#prode-container .panel .row .prode-block table div.flag img.ira{
	top: -483px;
}

#prode-container .panel .row .prode-block table div.flag img.nig{
	top: -828px;
}

#prode-container .panel .row .prode-block table div.flag img.ale{
	top: -69px;
}

#prode-container .panel .row .prode-block table div.flag img.por{
	top: -1069px;
}

#prode-container .panel .row .prode-block table div.flag img.gha{
	top: -794px;
}

#prode-container .panel .row .prode-block table div.flag img.usa{
	top: -412px;
}

#prode-container .panel .row .prode-block table div.flag img.bel{
	top: -102px;
}

#prode-container .panel .row .prode-block table div.flag img.arl{
	top: -585px;
}

#prode-container .panel .row .prode-block table div.flag img.rus{
	top: -1103px;
}

#prode-container .panel .row .prode-block table div.flag img.cor{
	top: -343px;
}

#prode-container.register .panel div.reg-personal{
	width: 100%;
}

#prode-container.register .panel div.reg-personal .profilePicBig{
	display: inline-block;
	float: left;
}

#prode-container.register .panel div.reg-personal .profilePicBig img{
	width: 350px;
	height: 350px;
}

#prode-container.register .panel div.reg-personal .personalData{
	display: inline-block;
	float: right;
	width: 550px;
}

#prode-container.register .panel div.reg-personal .subTitle{
	padding-bottom: 5px;
}