#prode-container{
	
}

#prode-container .navbar{
	border-radius: 0px;
	padding: 0px 50px 0px 50px;
}

#prode-container .navbar .navbar-header,
#prode-container .navbar ul.navbar-nav.central li{
	border-right: 1px solid rgb(233, 233, 233);
}

#prode-container .navbar-brand{
	padding: 0px 15px;
}

#prode-container .navbar-nav.navbar-right:last-child{
	margin-right: 0px;
}

#prode-container .navbar img.wc-logo{
	margin-top: 0px;
	width: 20px;
	margin-left: 10px;
}

#prode-container .navbar img.oe-logo{
	margin-top: 5px;
	width: 105px;
}

#prode-container .navbar li img.profile-image{
	margin-top: 5px;
	width: 40px;
}

#prode-container #central-container{
	width: 980px;
	margin: 0 auto;
	margin-bottom: 15px;
/* 	padding: 20px; */
/* 	border: 1px solid #ddd; */
/* 	border-radius: 4px 4px 0 0; */
}

#prode-container .panel .panel-body{
	padding: 10px 25px 10px 25px;
}

#prode-container .panel .row .col-md-6.fixb.first{
	padding: 0px 10px 0px 0px;
}

#prode-container .panel .row .col-md-6.fixb{
	padding: 0px;
}

#prode-container .panel .row .prode-block{
	border: 1px solid #ddd;
}

#prode-container .panel .row .prode-block table{
	margin-bottom: 0px;
}

#prode-container .panel .row .prode-block table thead th,
#prode-container .panel .row .prode-block table tbody td{
	text-align: center;
}

#prode-container .panel .row .prode-block table thead{
	font-size: 14px;
}

#prode-container .panel .row .prode-block table tbody{
	font-size: 12px;
}

#prode-container .panel .row .prode-block table tbody td.results{
	padding-top: 8px;
}

#prode-container .panel .row .prode-block table tbody td{
	padding-top: 14px;
}

#prode-container .panel .row .prode-block table tbody td.results input{
	text-align: center;
}

#prode-container .panel .row .prode-block table tbody td .dash{
	display: inline-block;
}